/* ie only style sheet
**
** Just putting some text here because my server won't pull from the repository...
**
*/

#header .mainmenu {
    color: #c0c0c0;
    font-weight: bold;
    filter: alpha(opacity=60); /* IE6+ */
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE6+ */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"; /* this works in IE8 only */
}

#header .menuitem:hover {
    color: #ffffff;
}

.filler {
    background-image: url( "images/fb1.png" );
}

.article {
    color: #202020;
    background-image: url( "images/tb1.png" );
}

.sidebutton {
    color: #909090;
    background-image: url( "images/tb3.png" );
}
.sidebutton {
    background-image: url( "images/tb2.png" );
}


.sidebutton.active {
    color: #b0b0b0;
    background-image: url( "images/tb1.png" );
}
