body { min-width: 440px; font-size: 14px; margin: 0; padding: 0; background-color: #222;}

html, body { height: 100%; }

/* --Header--
  The header is fixed position so each part of the website can be
  jumped to easily without scrolling.

  trying to get this right
*/

#header {
    width: 98%;
    height: 100px;
    left: 1%;
    top: 0;
    position: fixed;
    z-index: 100;
    font-family: arial;
    color: white;
}

#motto {
    margin-top: 40px;
    margin-bottom: 2px;
    border-bottom: solid white 2px;
}

.sitetitle {
    font-size: 1.6em;
    line-height: 2.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.toplogo {
    display: inline-block;
    height: 45px;
    width: 100px;
    background-image: url(images/logo-white-sm.png);
    vertical-align: bottom;
}

#header .mainmenu {
    list-style: none;
    padding: 0px;
    margin: 5px 0px;
    font-size: 1.2em;
    color: rgba(255,255,255, 0.4);
}

#header .menuitem {
    display: inline;
    padding-right: 20px;

    transition: color 0.3s ease-in;
}

#header .menuitem:hover {
    color: rgba(255,255,255, 0.65);
    cursor: pointer;
}

/* curtain
**  -The curtain is a div to hide the content until the site loads.
*/

#curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0px;
    z-index: 200;
    opacity: 1.0;
    text-align: center;
    background-color: white;
}

#curtain img {
    position: relative;
    top: 50%;
    left: 0%;
}

#tinting {
    position: fixed;
    width: 100%;
    height: 768px;
    left: 0;
    bottom: 0;
    margin: 0px;
    z-index: 1;
    background-image: url("images/gradient.png");
    background-repeat: repeat-x;
}

/* side quote */

.sidequote {
    position: relative;
    z-index: 10;
    width: 25%;
    height: 100%;
    float: left;
    left: 0px;
    top: 0px;
}

.sidebox {
    height: 20%;
    margin-top: 80%;
    opacity: 0.5;
}

.sidedivider {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 0.2em;
}

.sidetext {
    padding: 10px 80px;
    color: white;
}
/* --pictures-- */

/*.picture1 {
  height: 80px;

}*/

/* --Sections--
  Each section has a photo and a relevant page of the website. backgrounds
  are fixed to achieve parralax effect.

  -this design really needs media selectors, since only IE9+ supports them, I'll
  have to make a specific bland style for ie8 and less.
*/

.section {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #212121;
    background-repeat: no-repeat;
}

/*since the background size */
.filler {
    min-height: 800px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(0,0,20,0.25);
}

/* --articles-- */

.page_holder {
    position: relative;
    width: 50%;
    min-height: 500px;
    float:left;
    overflow: hidden;
    z-index: 10;
    opacity: 1.0;
    color: white;
}

.page_holder h2 {
    font-size: 1.7em;
    margin: 0px;
    padding: 0px;
}

.paper .title {
    height: 50px;
    text-align: center;
    font-family: arial;
}

.paper {
    min-height: 500px;
    text-align: center;
}

.article {
    min-height: 400px;
    min-width: 400px;
    padding: 1em;
    padding-bottom: 50px;
    position: relative;
    text-align: left;
    margin-left: 80px;
    background-color: rgba(255,255,255,0.85);

    font-size: 1.25em;
    font-family: arial;
    color: #364c66;
}

.article.bare {
  margin-left: 0px;
}

.sidebar {
    width: 80px;
    padding-top: 50px;
    min-height: 500px;
    float: left;
}

/* buttons beside article */

#menu-main-menu {
    /*clear style*/
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
}

#menu-main-menu .menu-item {
    height: 79px;
    margin: 0px;
    text-align: center;
    position: relative;
    font-family: arial;
    background-color: rgba(255,255,255, 0.6);
    border-bottom: solid rgba(0,0,0, 0.1) 1px;

    transition: background-color 0.5s ease-in;
}

#menu-main-menu .menu-item a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    line-height: 80px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(50,50,50,0.4);
    text-decoration: none;
}

#menu-main-menu .menu-item:hover {
    background-color: rgba(255,255,255, 0.75);
}

#menu-main-menu .current-menu-item {
    background-color: rgba(255,255,255, 0.85);
}

#menu-main-menu .current-menu-item:hover {
    background-color: rgba(255,255,255, 0.85);
}

#menu-main-menu .current-menu-item a {
    color: rgba(100,100,100,0.6);
}




.contact-holder {
    width: 70%;
    height: 60%;
    margin: 50px auto;
    padding-left: 2em;
    border-left: solid 5px white;
    font-family: arial;
    color: white;
}

.contact-holder h2 {
    margin-bottom: 0.3em;
}

.contact-holder a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
/* -- additional buttons and images -- */

.quote_button {
    height: 49px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    background-image: url("images/getquote.png");
    background-position: center;
    background-repeat: no-repeat;
}

.quote_button a {
    display: block;
    width: 400px;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
    cursor: pointer;
}

#wearehhe {
    width: 100%;
    height: 120px;
    background-image: url("images/weare.png");
    background-size: 100%;
    background-repeat: no-repeat;

}

/* -- form style -- */

.error{
  padding: 5px 9px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
}

.success{
  padding: 5px 9px;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
}

form {
    border-top: solid 2px #eee;
    font-family: arial;
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #2d6c84;
}

form input[type="text"] {
    padding: 4px;
    border: solid #2d6c84 3px;
    background-color: rgba(255,255,255, 0.5);
    color: #555;
}

form textarea {
    padding: 4px;
    width: 98.5%;
    border: solid #2d6c84 3px;
    background-color: rgba(255,255,255, 0.5);
    color: #666;
}

form span{
  color: red;
}

form input[type="submit"] {
    width: 100px;
    padding: 5px;
    background-color: rgba(255,255,255, 0.6);
    border: solid #2d6c84 3px;
    font-weight: bold;
    color: #6ea0db;
    cursor: pointer;
}

/* --other sections-- */


@media (max-width: 500px) {
    body { font-size: 10px;}
    .sidequote { display: none; }
    .page_holder { width: 90%; margin: 5%; min-height: 350px; }
    .paper { min-height: 350px; }
    .article { min-height: 300px;}
    .section { background: none; background-color: #88b6e7;}
    .filler { min-height:500px; }

}

@media (min-width: 501px) and (max-width: 800px) {
    body { font-size: 11px;}
    .sidequote { display: none; }
    .page_holder { min-height: 400px; width: 70%; margin-left: 15%;  }
    .paper { min-height: 400px; }
    .article { min-height: 350px;}
    .filler { min-height: 768px; }
    .section { background-size: cover;}

    .section.child1 {
        background-image: url(images/b1024/hhe-1.jpg);
    }

    .section.child2 {
        background-image: url(images/b1024/hhe-2.jpg);
    }

    .section.child3 {
        background-image: url(images/b1024/hhe-3.jpg);
    }

    .section.child4 {
        background-image: url(images/b1024/hhe-4.jpg);
    }

    .section.child5 {
        background-image: url(images/b1024/hhe-5.jpg);
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    body { font-size: 12px;}
    .page_holder { min-height: 400px;}
    .paper { min-height: 400px; }
    .article { min-height: 350px;}
    .filler { min-height: 768px; }
    .section { background-size: cover;}

    .section.child1 {
        background-image: url(images/b1024/hhe-1.jpg);
    }

    .section.child2 {
        background-image: url(images/b1024/hhe-2.jpg);
    }

    .section.child3 {
        background-image: url(images/b1024/hhe-3.jpg);
    }

    .section.child4 {
        background-image: url(images/b1024/hhe-4.jpg);
    }

    .section.child5 {
        background-image: url(images/b1024/hhe-5.jpg);
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    body { font-size: 14px;}
    .filler { min-height: 800px; }

    .section.child1 {
        background-image: url(images/b1366/hhe-1.jpg);
    }

    .section.child2 {
        background-image: url(images/b1366/hhe-2.jpg);
    }

    .section.child3 {
        background-image: url(images/b1366/hhe-3.jpg);
    }

    .section.child4 {
        background-image: url(images/b1366/hhe-4.jpg);
    }

    .section.child5 {
        background-image: url(images/b1366/hhe-5.jpg);
    }
}

@media (min-width: 1367px) and (max-width: 1440px) {
    body { font-size: 15px;}
    .filler { min-height: 900px; }

    .section.child1 {
        background-image: url(images/b1440/hhe-1.jpg);
    }

    .section.child2 {
        background-image: url(images/b1440/hhe-2.jpg);
    }

    .section.child3 {
        background-image: url(images/b1440/hhe-3.jpg);
    }

    .section.child4 {
        background-image: url(images/b1440/hhe-4.jpg);
    }

    .section.child5 {
        background-image: url(images/b1440/hhe-5.jpg);
    }
}

@media (min-width: 1441px) and (max-width: 1600px) {
    body { font-size: 16px;}
    .filler { min-height: 1080px; }

    .section.child1 {
        background-image: url(images/b1600/hhe-1.jpg);
    }

    .section.child2 {
        background-image: url(images/b1600/hhe-2.jpg);
    }

    .section.child3 {
        background-image: url(images/b1600/hhe-3.jpg);
    }

    .section.child4 {
        background-image: url(images/b1600/hhe-4.jpg);
    }

    .section.child5 {
        background-image: url(images/b1600/hhe-5.jpg);
    }
}

@media (min-width: 1601px) and (max-width: 1920px) {
    body { font-size: 18px;}
    .filler { min-height: 1200px; }

    .section.child1 {
        background-image: url(images/b1920/hhe-1.jpg);
    }

    .section.child2 {
        background-image: url(images/b1920/hhe-2.jpg);
    }

    .section.child3 {
        background-image: url(images/b1920/hhe-3.jpg);
    }

    .section.child4 {
        background-image: url(images/b1920/hhe-4.jpg);
    }

    .section.child5 {
        background-image: url(images/b1920/hhe-5.jpg);
    }
}
